---
import ContactForm from '../components/ContactForm';
---

<div id="center-container">
    <section class="contact">
    <div class="contact__container">
        <h2 class="contact__title">Contact</h2>
        <ContactForm />
    </div>
    </section>
</div>