---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
        <style> 
            .contact-form {
                margin: 40px 40px;
                min-width: 250px;
                width: 45%;
            }
            input,
            textarea{
                font-size: inherit;
                margin: 15px 0;
                padding: 12px 20px;
                background-color: teal;
                border: 1px solid black;
                color: white;
                border-radius: 6px;
                width: 100%;
            }

            button[type="submit"] {
                font-size: inherit;
                margin: 15px 0;
                padding: 12px 20px;
                width: justify;
                background-color: teal;
                border: 1px solid black;
                color: white;
                border-radius: 6px;
            }

            .hidden {
                clip: rect(0 0 0 0);
                clip-path: inset(50%);
                height: 1px;
                overflow: hidden;
                position: absolute;
                white-space: nowrap;
                width: 1px;
            }
        </style>
    </head>
    <body>
        <Header />
        <main>
			<div id="center-container">
    <div class="contact-form">
      <form
        netlify
        netlify-honeypot
        name="feedback"
        method="POST"
        action="/success"
      >
        <p class="hidden">
          <label>
            Don&apos;t fill this out if you&apos;re human: <input name="bot-field" />
          </label>
        </p>
        <input type="hidden" name="form-name" value="feedback" />
        <label for="name">Name</label>
        <input id="name" type="text" name="name" />
        <label for="email">Email</label>
        <input id="email" type="email" name="email" required />
        <label for="feedback">Message</label>
        <textarea id="feedback" wrap="soft" name="feedback" required></textarea>
        <button type="submit">Submit</button>
      </form>
  </div>
        </div>
        </main>
    </body>
</html>