---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Tiago Flora. All rights reserved. Built with ❤️ with <a href="https://astro.build/">Astro</a>
</footer>
<style>
	footer {
		padding: 10px;
		text-align: center;
	}
</style>
